{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">
			Formulaire de connexion
		</h1>
		<form action="{{ path('app_security')}}" method="post">
			<div>
				<label for="username" class="form-label mt-4">Adresse email</label>
				<input type="email" class="form-control" id="username" name="_username" placeholder="Enter email">
			</div>
			<div>
				<label for="password" class="form-label mt-4">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Password" name="_password" autocomplete="off">
			</div>
			<button type="submit" class="btn btn-primary">
				Se connecter
			</button>
		</form>
	</div>
{% endblock %}

